<div class="footer">

  <section class="pre-footer">
    <div class="top-chevron">
      <div class="top-chevron__left bg-blue-steel-light mobile:bg-blue-steel-light"></div>
      <div class="top-chevron__right bg-blue-steel-light mobile:bg-blue-steel-light"></div>
    </div>
    <form class="subscribe">
      <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        <input class="uk-input uk-form-width-medium" type="text" placeholder="email">
      </div>
      <button class="uk-button uk-button-default">Підписатися на блог</button>
    </form>
  </section>

  <footer>
    <div class="copyright">
      <div>Copyright © 2020 - valpioner.com</div>
      <div>При копіюванні матеріалів посилання на сайт обов'язкове</div>
    </div>
  </footer>

</div>
