// @mixin hook-card-default() {
//   background: black;
// }

@mixin hook-uk-logo() {
  color: white;
}

@mixin hook-card() {
  border-radius: 1rem;
  overflow: auto;
  transition: transform 300ms ease, box-shadow 300ms ease;
  transform: translateY(0);

  &:focus {
    outline: none;
  }
}

@mixin hook-card-default-hover() {
  transform: translateY(-20px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}
