.nav {
  width: auto;
  user-select: none;
  background-color: #4e6276;

  &-absolute {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: transparent;
  }

  &-container {
    display: flex;
    height: 50px;
  }

  img {
    height: 30px;
  }

  .uk-navbar-item,
  .uk-navbar-toggle {
    min-height: auto;
    color: white;
  }
  .uk-navbar-nav > li > a {
    min-height: auto;
    color: white;
  }

  .uk-logo {
    font-family: "overseer-italic";
    font-size: 2rem;
    letter-spacing: 0.03rem;
  }

  .uk-button-default {
    color: white;
  }
}
