<ng-container *ngIf="url$ | async as url">
  <nav class="nav" [class.nav-absolute]="url === '/'">
    <div class="nav-container uk-container uk-container-medium">
      <div class="uk-navbar-left">
        <a href="/" class="uk-navbar-item uk-logo">
          valpiOner
        </a>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-visible@m">
          <li><a href="/">Саморозвиток</a></li>
        </ul>
        <ul class="uk-navbar-nav uk-visible@m">
          <li><a href="/">Подорожі</a></li>
        </ul>
        <ul class="uk-navbar-nav uk-visible@m">
          <li><a href="/">ІТ</a></li>
        </ul>
        <ul class="uk-navbar-nav uk-visible@m">
          <li><a href="/">FAQ</a></li>
        </ul>
        <!-- <div class="uk-navbar-item uk-visible@m">
        <a href="../download" class="uk-button uk-button-default tm-button-default uk-icon">Download <canvas
            uk-icon="download" width="20" height="20" class="uk-icon" hidden="true"></canvas><svg width="20" height="20"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="download">
            <polyline fill="none" stroke="#000" points="14,10 9.5,14.5 5,10"></polyline>
            <rect x="3" y="17" width="13" height="1"></rect>
            <line fill="none" stroke="#000" x1="9.5" y1="13.91" x2="9.5" y2="3"></line>
          </svg></a>
      </div> -->
        <a uk-navbar-toggle-icon href="#offcanvas" class="uk-navbar-toggle uk-hidden@m uk-icon uk-navbar-toggle-icon">
          <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
            data-svg="navbar-toggle-icon">
            <rect y="9" width="20" height="2"></rect>
            <rect y="3" width="20" height="2"></rect>
            <rect y="15" width="20" height="2"></rect>
          </svg>
        </a>
      </div>
    </div>
  </nav>
</ng-container>
