.home {
  // &__header {
  //   background: linear-gradient(to left, #28a5f5, #1e87f0);
  // }

  // &__logo {
  //   width: 50px;
  // }

  &-hero {
    user-select: none;
    min-height: 300px;
    color: #fff;
    text-align: center;
    background-color: #143779;
    position: relative;
    background-image: url(https://www.transparenttextures.com/patterns/old-wall.png),
      linear-gradient(#1d2e81, #32a6ee);
    background-repeat: repeat;

    &__shevron {
      position: absolute;
      left: 0;
      right: 0;
      height: 250px;
      overflow: hidden;
      bottom: 0;

      &-left {
        position: absolute;
        right: 0;
        top: 50%;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: rotate(9deg) translateY(50%) translateX(-10%);
      }

      &-right {
        position: absolute;
        right: 0;
        top: 50%;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: rotate(-9deg) translateY(50%) translateX(10%);
      }
    }

    &__content {
      padding-top: 7rem;

      h1,
      h4 {
        color: white;
      }

      h4 {
        margin-top: 0;
      }
    }
  }
}
